{% extends "_base.html" %}


{% block content %}
<!-- Page Heading -->

<!-- Content Row -->

<style>
  .market-widget {
    height: 700px;
  }
</style>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('stocks.us_market') }}">Exchanges</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Screener</a>
  </li>
  
</ul>

<div class="row mb-2">
  <div class="col-md-12">
    <div class="market-widget">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
        {
        "width": "100%",
        "height": "100%",
        "largeChartUrl": "{{ url_for('main._info', _external=True) }}",
        "defaultColumn": "overview",
        "defaultScreen": "most_capitalized",
        "market": "america",
        "showToolbar": true,
        "colorTheme": "light",
        "locale": "en"
      }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
  </div>
</div>


{% endblock %}
